* {
  padding: 0;
  margin: 0; }

.container {
  height: 150vh;
  width: 90vw;
  margin: 3rem;
  border: 3px solid blue;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(5, 17vw);
  gap: 1rem; }

.item {
  font-size: 4rem;
  color: red; }
  .item--1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-1.png);
    grid-row: 1 / 11;
    grid-column: 1 / 2; }
  .item--2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-2.png);
    grid-row: 1 / 4;
    grid-column: 2 / 6; }
  .item--3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-3.png);
    grid-row: 4 / 8;
    grid-column: 2 / 4; }
  .item--4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-4.png);
    grid-row: 4 / 8;
    grid-column: 4 / 6; }
  .item--5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-5.png);
    grid-column: 2 / 6;
    grid-row: 8 / 11; }
  .item--6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-6.png);
    grid-column: 1 / 5;
    grid-row: 11 / 14; }
  .item--7 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-7.png);
    grid-column: 1 / 5;
    grid-row: 14 / 17; }
  .item--8 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-8.png);
    grid-column: 5 / -1;
    grid-row: 11 / 17; }

.footer {
  border: 3px solid red;
  height: 10vh;
  width: auto;
  margin: 1rem;
  background-color: #E0BA31; }

.header {
  height: 10vh;
  width: auto;
  margin: 1rem;
  background-color: #E0BA31;
  border: 3px solid purple; }

.container {
  height: 150vh;
  width: 90vw;
  margin: 3rem;
  border: 3px solid blue;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(5, 17vw);
  gap: 1rem; }

.item {
  font-size: 4rem;
  color: red; }
  .item--1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-1.png);
    grid-row: 1 / 11;
    grid-column: 1 / 2; }
  .item--2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-2.png);
    grid-row: 1 / 4;
    grid-column: 2 / 6; }
  .item--3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-3.png);
    grid-row: 4 / 8;
    grid-column: 2 / 4; }
  .item--4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-4.png);
    grid-row: 4 / 8;
    grid-column: 4 / 6; }
  .item--5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-5.png);
    grid-column: 2 / 6;
    grid-row: 8 / 11; }
  .item--6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-6.png);
    grid-column: 1 / 5;
    grid-row: 11 / 14; }
  .item--7 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-7.png);
    grid-column: 1 / 5;
    grid-row: 14 / 17; }
  .item--8 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/img-8.png);
    grid-column: 5 / -1;
    grid-row: 11 / 17; }
