.container {
    height: 150vh;
    width: 90vw;
    margin: 3rem;
    border: 3px solid blue;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(5, 17vw);
    gap: 1rem;
  }

.item {
  font-size: 4rem;
  color: red;

  &--1 {
    @include img-cover;
    background-image: url(/img/img-1.png);
    grid-row: 1 / 11;
    grid-column: 1 / 2;
  }

  &--2 {
    @include img-cover;
    background-image: url(/img/img-2.png);
    grid-row: 1 / 4;
    grid-column: 2 / 6;
  }

  &--3 {
    @include img-cover;
    background-image: url(/img/img-3.png);
    grid-row: 4 / 8;
    grid-column: 2 / 4;
  }

  &--4 {
    @include img-cover;
    background-image: url(/img/img-4.png);
    grid-row: 4 / 8;
    grid-column: 4 / 6;
  }

  &--5 {
    @include img-cover;
    background-image: url(/img/img-5.png);
    grid-column: 2 / 6;
    grid-row: 8 / 11;
  }

  &--6 {
    @include img-cover;
    background-image: url(/img/img-6.png);
    grid-column: 1 / 5;
    grid-row: 11 / 14;
  }

  &--7 {
    @include img-cover;
    background-image: url(/img/img-7.png);
    grid-column: 1 / 5;
    grid-row: 14 / 17;
  }

  &--8 {
    @include img-cover;
    background-image: url(/img/img-8.png);
    grid-column: 5 / -1;
    grid-row: 11 / 17;
  }
}