.footer {
  height: 13vh;
  width: auto;
  margin: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $color-main;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;


  &__links {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding-bottom: 25px;

    &:hover {
      color: $color-menu-hover;
    }
  }

  &__link {
    padding: 5px;
  }
}

li a {
  text-decoration: none;
  color: $color-nav;
}