.poem {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem;

  @include responsive(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(phone) {
    grid-template-columns: 1fr;
  }

  &__grid {
    padding: 1.2rem;
    margin: 0.8rem;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    box-shadow: -7px -7px 9px 0 rgba($color-black, 0.4);
    border-radius: 3px;


    &--1 {
      text-align: left;
      background-image: url(/img/poem-img-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--2 {
      text-align: center;
      background: url(/img/poem-img-2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--3 {
      text-align: right;
      background: url(/img/poem-img-3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--4 {
      text-align: left;
      background: url(/img/poem-img-4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--5 {
      text-align: center;
      background: url(/img/poem-img-5.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--6 {
      text-align: right;
      background: url(/img/poem-img-6.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include responsive(tab-port) {
      text-align: center;
    }
  }
}
